In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\DELL\Downloads\cleaned_all_phones.csv")

In [3]:
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-08-18,190.0,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,2023-08-23,190.0,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,...,True,True,False,True,False,False,False,False,False,287.988

In [4]:
data.head()

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.0,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.0
1,K20 plus,LG,Android 7.0,5.3,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.0
2,P8 Lite (2017),Huawei,Android 7.0,5.2,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.0
3,Redmi Note 4,Xiaomi,Android 6.0,5.5,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.0
4,P10,Huawei,Android 7.0,5.1,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.0

In [6]:
#How many unique  mobile brands are there in the data provided

In [7]:
data["brand"].unique().shape

(13,)

In [ ]:
# 13 unique  mobile brands are there in the data provided

In [ ]:
#What is the average ram size of all the collected data

In [11]:
data["ram(GB)"].mean()

6.6838624338624335

In [8]:
#6.6838624338624335 is the average ram size of all the collected data

In [ ]:
#Which phone is having the maximum and minimum battery capacity

In [21]:
data["phone_name"][(data["battery"]==data["battery"].max())]

573    V6
Name: phone_name, dtype: object

In [22]:
data["phone_name"][(data["battery"]==data["battery"].min())]

62             iPhone 8
536    iPhone SE (2020)
Name: phone_name, dtype: object

In [ ]:
#V6 phone is having the maximum battery capacity 
# iphone8 and iphone SE phones having minimum battery capacity

In [ ]:
#What is the maximum battery capacity provided by Huawei Company

In [29]:
data["battery"][(data["brand"]=="Huawei")].max()

7000

In [9]:
#7000 is the maximum battery capacity provided by Huawei Company

In [ ]:
#Which Phone brand is providing the highest and lowest ram

In [10]:
data["brand"][(data["ram(GB)"]==data["ram(GB)"].max())].unique()

array(['Xiaomi', 'OnePlus', 'Realme'], dtype=object)

In [32]:
data["brand"][(data["ram(GB)"]==data["ram(GB)"].min())].unique()

array(['Huawei', 'Samsung', 'Xiaomi', 'LG'], dtype=object)

In [ ]:
#Xiaomi,OnePlus,Realme are the Phone brand is providing the highest ram
#Huawei,Samsung,Xiaomi are the Phone brand is providing the low ram

In [33]:
data.columns

Index(['phone_name', 'brand', 'os', 'inches', 'resolution', 'battery',
       'battery_type', 'ram(GB)', 'announcement_date', 'weight(g)',
       'storage(GB)', 'video_720p', 'video_1080p', 'video_4K', 'video_8K',
       'video_30fps', 'video_60fps', 'video_120fps', 'video_240fps',
       'video_480fps', 'video_960fps', 'price(USD)'],
      dtype='object')

In [ ]:
#How many phones has android 7.0 as there operating system

In [34]:
data["phone_name"][(data["os"]=="Android 7.0")].count()

33

In [ ]:
#33 phones has android 7.0 as there operating system

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

In [ ]:
#Which Phone is the oldest

In [11]:
data["announcement_date"]=pd.to_datetime(data["announcement_date"])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   datetime64[ns]
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), datetime64[ns](1), float64(3), int64(3), object(5)
memory usage: 156.6+ KB

In [25]:
data2=pd.pivot_table(data,index="phone_name",columns="brand",values="price(USD)",aggfunc=["count"],margins=True)

In [27]:
data2

                 count                                                   \
brand            Apple Google  Honor Huawei    LG Lenovo OnePlus   Oppo
phone_name
1                  NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10                 NaN    NaN    1.0    NaN   NaN    NaN     NaN    NaN
10 5G              NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10 Lite            NaN    NaN    1.0    NaN   NaN    NaN     NaN    NaN
10 Pro             NaN    NaN    NaN    NaN   NaN    NaN     1.0    NaN
...                ...    ...    ...    ...   ...    ...     ...    ...
vivo iQOO Z7 Pro   NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7i      NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7s      NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7x      NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
All               22.0   19.0  124.0  137.0  75.0   43.0    47.0  213.0


brand            Realme Samsung  Sony   Vivo Xiaomi   All
phone_name
1                   1.0     NaN   NaN    NaN    NaN     1
10                  1.0     NaN   NaN    NaN    NaN     2
10 5G               1.0     NaN   NaN    NaN    NaN     1
10 Lite             NaN     NaN   NaN    NaN    NaN     1
10 Pro              1.0     NaN   NaN    NaN    NaN     2
...                 ...     ...   ...    ...    ...   ...
vivo iQOO Z7 Pro    NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7i       NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7s       NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7x       NaN     NaN   NaN    1.0    NaN     1
All               157.0   206.0  37.0  168.0  264.0  1512

[1497 rows x 14 columns]

In [ ]:
#Which brand produced maximum number of phone in the given data

In [34]:
data2=pd.pivot_table(data,index="phone_name",columns="brand",values="price(USD)",aggfunc=["max"],margins=True)

In [35]:
data2

                      max                                                  \
brand               Apple  Google   Honor  Huawei      LG Lenovo  OnePlus
phone_name
1                     NaN     NaN     NaN     NaN     NaN    NaN      NaN
10                    NaN     NaN   310.0     NaN     NaN    NaN      NaN
10 5G                 NaN     NaN     NaN     NaN     NaN    NaN      NaN
10 Lite               NaN     NaN   180.0     NaN     NaN    NaN      NaN
10 Pro                NaN     NaN     NaN     NaN     NaN    NaN   439.94
...                   ...     ...     ...     ...     ...    ...      ...
vivo iQOO Z7 Pro      NaN     NaN     NaN     NaN     NaN    NaN      NaN
vivo iQOO Z7i         NaN     NaN     NaN     NaN     NaN    NaN      NaN
vivo iQOO Z7s         NaN     NaN     NaN     NaN     NaN    NaN      NaN
vivo iQOO Z7x         NaN     NaN     NaN     NaN     NaN    NaN      NaN
All               1580.09  1750.0  1500.0  2300.0  1100.0  880.0  1030.00


brand               Oppo  Realme Samsung    Sony      Vivo  Xiaomi       All
phone_name
1                    NaN  130.00     NaN     NaN       NaN     NaN   130.000
10                   NaN  139.80     NaN     NaN       NaN     NaN   310.000
10 5G                NaN  180.00     NaN     NaN       NaN     NaN   180.000
10 Lite              NaN     NaN     NaN     NaN       NaN     NaN   180.000
10 Pro               NaN  187.00     NaN     NaN       NaN     NaN   439.940
...                  ...     ...     ...     ...       ...     ...       ...
vivo iQOO Z7 Pro     NaN     NaN     NaN     NaN   287.988     NaN   287.988
vivo iQOO Z7i        NaN     NaN     NaN     NaN   380.000     NaN   380.000
vivo iQOO Z7s        NaN     NaN     NaN     NaN   210.000     NaN   210.000
vivo iQOO Z7x        NaN     NaN     NaN     NaN   440.000     NaN   440.000
All               1350.0  839.95  1750.0  2000.0  1450.000  1500.0  2300.000

[1497 rows x 14 columns]

In [37]:
data["brand"][data["price(USD)"]==2300]

777    Huawei
Name: brand, dtype: object

In [ ]:
#Huawei brand produced maximum number of phone in the given data

In [38]:
data2=pd.pivot_table(data,index="phone_name",columns="brand",values="price(USD)",aggfunc=["min"],margins=True)

In [39]:
data2

                    min                                                   \
brand             Apple Google  Honor Huawei    LG Lenovo OnePlus   Oppo
phone_name
1                   NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10                  NaN    NaN  310.0    NaN   NaN    NaN     NaN    NaN
10 5G               NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10 Lite             NaN    NaN  180.0    NaN   NaN    NaN     NaN    NaN
10 Pro              NaN    NaN    NaN    NaN   NaN    NaN  439.94    NaN
...                 ...    ...    ...    ...   ...    ...     ...    ...
vivo iQOO Z7 Pro    NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7i       NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7s       NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7x       NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
All               189.5  238.0   90.0   90.0  70.0   90.0  119.00  100.0


brand            Realme Samsung   Sony     Vivo Xiaomi      All
phone_name
1                 130.0     NaN    NaN      NaN    NaN  130.000
10                139.8     NaN    NaN      NaN    NaN  139.800
10 5G             180.0     NaN    NaN      NaN    NaN  180.000
10 Lite             NaN     NaN    NaN      NaN    NaN  180.000
10 Pro            187.0     NaN    NaN      NaN    NaN  187.000
...                 ...     ...    ...      ...    ...      ...
vivo iQOO Z7 Pro    NaN     NaN    NaN  287.988    NaN  287.988
vivo iQOO Z7i       NaN     NaN    NaN  380.000    NaN  380.000
vivo iQOO Z7s       NaN     NaN    NaN  210.000    NaN  210.000
vivo iQOO Z7x       NaN     NaN    NaN  440.000    NaN  440.000
All                40.0    60.0  110.0   90.000  71.37   40.000

[1497 rows x 14 columns]

In [40]:
data["phone_name"][data["price(USD)"]==40]

452    C2s
Name: phone_name, dtype: object

In [ ]:
#C2s brand produced maximum number of phone in the given data

In [ ]:
#Give the count of phones supporting
#4k video
#8k video
#2k video

In [44]:
data2

                    count                                                   \
                 video_4K
brand               Apple Google  Honor Huawei    LG Lenovo OnePlus   Oppo
phone_name
1                     NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10                    NaN    NaN    1.0    NaN   NaN    NaN     NaN    NaN
10 5G                 NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10 Lite               NaN    NaN    1.0    NaN   NaN    NaN     NaN    NaN
10 Pro                NaN    NaN    NaN    NaN   NaN    NaN     1.0    NaN
...                   ...    ...    ...    ...   ...    ...     ...    ...
vivo iQOO Z7 Pro      NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7i         NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7s         NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7x         NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
All                  22.0   19.0  124.0  137.0  75.0   43.0    47.0  213.0



brand            Realme Samsung  Sony   Vivo Xiaomi   All
phone_name
1                   1.0     NaN   NaN    NaN    NaN     1
10                  1.0     NaN   NaN    NaN    NaN     2
10 5G               1.0     NaN   NaN    NaN    NaN     1
10 Lite             NaN     NaN   NaN    NaN    NaN     1
10 Pro              1.0     NaN   NaN    NaN    NaN     2
...                 ...     ...   ...    ...    ...   ...
vivo iQOO Z7 Pro    NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7i       NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7s       NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7x       NaN     NaN   NaN    1.0    NaN     1
All               157.0   206.0  37.0  168.0  264.0  1512

[1497 rows x 14 columns]

In [45]:
data2=pd.pivot_table(data,index="phone_name",columns="brand",values=["video_8K"],aggfunc=["count"],margins=True)

In [46]:
data2

                    count                                                   \
                 video_8K
brand               Apple Google  Honor Huawei    LG Lenovo OnePlus   Oppo
phone_name
1                     NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10                    NaN    NaN    1.0    NaN   NaN    NaN     NaN    NaN
10 5G                 NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
10 Lite               NaN    NaN    1.0    NaN   NaN    NaN     NaN    NaN
10 Pro                NaN    NaN    NaN    NaN   NaN    NaN     1.0    NaN
...                   ...    ...    ...    ...   ...    ...     ...    ...
vivo iQOO Z7 Pro      NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7i         NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7s         NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
vivo iQOO Z7x         NaN    NaN    NaN    NaN   NaN    NaN     NaN    NaN
All                  22.0   19.0  124.0  137.0  75.0   43.0    47.0  213.0



brand            Realme Samsung  Sony   Vivo Xiaomi   All
phone_name
1                   1.0     NaN   NaN    NaN    NaN     1
10                  1.0     NaN   NaN    NaN    NaN     2
10 5G               1.0     NaN   NaN    NaN    NaN     1
10 Lite             NaN     NaN   NaN    NaN    NaN     1
10 Pro              1.0     NaN   NaN    NaN    NaN     2
...                 ...     ...   ...    ...    ...   ...
vivo iQOO Z7 Pro    NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7i       NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7s       NaN     NaN   NaN    1.0    NaN     1
vivo iQOO Z7x       NaN     NaN   NaN    1.0    NaN     1
All               157.0   206.0  37.0  168.0  264.0  1512

[1497 rows x 14 columns]

In [51]:
data["brand"][data["video_4K"]].count()

801

In [52]:
data["brand"][data["video_8K"]].count()

86

In [53]:
data["brand"][data["video_1080p"]].count()

1503

In [ ]:
#801 of phones supporting 4k video
#86 of phones supporting 8k video
#1503 of phones supporting 1080 video

In [58]:
data["phone_name"][(data["announcement_date"]==min(data["announcement_date"]))]
print(min(data["announcement_date"]))

2016-09-01 00:00:00

In [5]:
#How many phones supports Li-Po and Li-ion Battery

In [13]:
data['phone_name'][(data['battery_type']=='Li-Po') & (data['battery_type']=='Li-ion')].count()

0

In [6]:
#How many sony phones supports 720x1280 resolution

In [15]:
data['phone_name'][(data['resolution']=='720x1280') & (data['phone_name']=='sony')]

Series([], Name: phone_name, dtype: object)